.ilExteStatValueLeft {
    float: left;
    text-align: left;
}

.ilExteStatValueRight {
    float: right;
    text-align: right;
}

.ilExteStatSignLeft {
    float: left;
    padding-left: 5px;
}

.ilExteStatSignRight {
    float: right;
    padding-left: 5px;
}

.ilExteStatHeaderRight {
    display: inline-block;
    width: 90%;
    text-align: right;
    padding-left: 5px;
}

.ilExteStatDiagramLabel {
    display: inline-block;
    width: 80%;
}



